/.git*
/assets
/media
/migrations
/node_modules
/public
/target
/.editorconfig
/.env*
/.eslint*
/.prettier*
/.stylelint*
/LICENSE
/package.json
/README.md
/tsconfig.json
/webpack.config.js
/yarn.lock
