<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kebisafe</title>
</head>
<body>
    <h1>Kebisafe</h1>
    <p>
        Currently there are {{ pictures.len() }} picture(s).
    </p>

    <form action="http://localhost:3000" method="post" enctype="multipart/form-data">
        <input type="file" name="main_file" id="main_file">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
