{{> ./components/__header.html.hbs }}
{{! ======================================================================= !}}

{{#if let Some(account) = &common.account }}
<h1>Welcome back, {{ account.name }}</h1>
{{/if}}

<h1>Kebisafe 2</h1>
<p>
    Currently there are {{ pictures.len() }} picture(s).
</p>

<div class="row">
    <form action="/signin" method="POST">
        <input type="hidden" name="_token" value="{{ common.csrf }}">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>

{{! ======================================================================= !}}
{{> ./components/__footer.html.hbs }}
