{{> ./components/__header.html.hbs }}
{{! ======================================================================= !}}

<h1>Kebisafe</h1>
<p>
    Currently there are {{ pictures.len() }} picture(s).
</p>

{{! ======================================================================= !}}
{{> ./components/__footer.html.hbs }}
