{{> ./components/__header.html.hbs }}
{{! ======================================================================= !}}
<div class="row">
    <div class="col"></div>
    <h1>Recently uploaded media</h1>
</div>

<div class="row my-2">
    {{#each media_list}}
    <div class="col-6 col-md-4 col-lg-2 my-2 d-flex align-items-center justify-content-center">
        <a href="/m/{{ this.hash_id }}">
            <img src="{{ super::common.permalink_thumbnail(&this) }}" alt="{{ this.hash_id }}"
                class="img-fluid img-thumbnail rounded mx-auto my-auto d-block">
        </a>
    </div>

    {{/each}}
</div>
{{! ======================================================================= !}}
{{> ./components/__footer.html.hbs }}
