{{> ./components/__header.html.hbs }}
{{! ======================================================================= !}}

<div class="row">
    <form id="signinForm" action="/signin" method="POST" data-manual="true">
        <input type="hidden" name="_token" value="{{ common.csrf }}">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>

{{! ======================================================================= !}}
{{> ./components/__footer.html.hbs }}
