<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/app.css">
    <script defer src="/public/app.js"></script>
    <title>Kebisafe</title>
</head>
<body>
    {{> ./navbar.html.hbs common }}

    <div class="container">
        {{> ./flashes.html.hbs common }}
